<section class="card_task card box_shadow text_light task">
    <div class="content flex_h flex_fill_h flex_center flex_gap_std margin_sml">
        <div class="task_icon flex_v flex_center">
            <span>♻️</span>
        </div>
        <div class="flex_v flex_v_fill">
            <h3>{{ user_task.task.task_name }}</h3>
            {% if user_task.completed %}
                <span class="task-points-small">Points: {{ user_task.task.points_given }} 🟢</span>
            {% else %}
                <span class="task-points-small">Points: {{ user_task.task.points_given }} ⚪</span>
            {% endif %}
        </div>
        <div class="task-actions">
            <span class="task-date">{{ user_task.date|date:"M d, Y" }}</span>
            {% if not user_task.completed %}
                <span class="complete-icon" onclick="completeTask(this, {{ user_task.task.task_id }})">✔️</span>
            {% endif %}
            <span class="delete-icon" onclick="deleteTask(this, {{ user_task.id }})">🗑️</span>
        </div>
    </div>
</section>
