<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
        <title>Ecolution</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    {% block style %}
        <!-- Style Content Here (Should be integrated into styles.css eventually) -->
    {% endblock %}
    {% if user.is_authenticated %}
    <style>
        :root {
            --font_size_rem: {{ user.preferred_font_size }}px; 
        }
        html {
            font-size: var(--font_size_rem);
        }
    </style>
    {% endif %}
</head>

<body class="background">
    <section class="content_wrapper">
        <header>
            {% block header %}
                <!-- Default Header Content -->
                <div class="flex_h margin_std">
                    <section class="button_settings">
                        <button class="button_img flex_v flex_center box_shadow" type="button" onclick="toggleUseMenu()">
                            <img src="{% static 'images/icon_button.png' %}" alt="Settings">
                        </button>
                        <section class="settings_menu" id="settingsMenu">  <!-- thiis the settings icon that lets you go to other pages -->
                            <a href="{% url 'home' %}">Home</a> <!-- this is so you can go back to the home page from other pages -->
                            <a href="{% url 'tasks' %}">Tasks</a> <!-- this is to go to the tasks page where you can create tasks -->
                            <a href="{% url 'settings' %}">Settings</a> <!-- this is to go to the settings page to edit or view settings -->
                        </section> 
                    </section>
                    <section class="currency_indicator">
                        <div class="flex_h flex_h_fill flex_center">
                            <h3 class="text_light">{{ points }}</h3> <!-- this is the currency that you get for completing tasks and its the display -->
                            <img class="img_leaf" src="{% static 'images/leaf.png' %}" alt="Leaf">
                        </div>
                    </section>
                </div>
    
                <script>
                    function toggleUseMenu() {
                        var menu = document.getElementById("settingsMenu");
                        menu.style.display = menu.style.display === "block" ? "none" : "block";
                    }
                </script>
            {% endblock %}
        </header>
        <main class="margin_std flex_v">
            {% block main %}
                <!-- Main Content -->
            {% endblock %}
        </main>
    </section>

    {% block additional %}
        <!-- Any Additional Content (Scripts, etc.) -->
    {% endblock %}

</body>

</html>
