{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Home - Ecolution</title>
{% endblock %}

{% block main %}
    <section class="pet">
        <div class="flex_v flex_center">
            <div class="image_wrapper">
                {% if pet %}
                <img src="{% static 'images/pets/' %}{{ pet_type }}/{{ pet_type }}_{{ pet_size }}.gif" alt="{{ pet_type }} pet">>
                {% else %}
                    <img src="{% static 'images/pets/mushroom/mushroom_large.gif' %}" alt="Default Pet">
                {% endif %}
            </div>
            <p></p>
        </div>
    </section>

    <section class="spacer_large"></section>
    <section class="status_bar flex_h flex_center text_light">
        <div class="pet_status flex_v margin_sml flex_v_fill">
            <p>Pet Name: {{ pet_name }}     Level: {{ level }}</p>
            <div class="xp_bar box_shadow">
                <div class="xp_bar_progress" style="width: {{ pet_exp }}%;"></div>
            </div>
            <div class="flex_h">
                <p class="xp_bar_label" id="xp_bar_xp_current">{{ pet_exp }}XP</p>
                <p class="xp_bar_label" id="xp_bar_xp_to_next_level">100XP</p>
            </div>
        </div>
    </section>
    <section class="current_tasks">
        <section class="heading flex_h">
            <div class="flex_v">
                <h2 class="text_light">Current Tasks</h2>
                <p class="text_light">Select a task to view or edit details</p>
            </div>
            <button class="button box_shadow text_light" type="button" onclick="window.location.href='{% url 'tasks' %}'">View All</button>
        </section>
        <section class="card_task card box_shadow text_light">
            <div class="content flex_h flex_fill_h flex_center flex_gap_std margin_sml">
                <div class="task_icon flex_v flex_center">🌲</div>
                <div class="flex_v flex_v_fill ">
                    <h3>Task Title</h3>
                    <p class="task_description">Task Description</p>
                </div>
                <button class="button_img_light flex_v flex_center" type="button" onclick="toggleMenu()">
                    <img src="/static/images/icon_button.png" alt="Settings">
                </button>
            </div>
        </section>
        <section class="card_task card box_shadow text_light">
            <div class="content flex_h flex_fill_h flex_center flex_gap_std margin_sml">
                <div class="task_icon flex_v flex_center">♻️</div>
                <div class="flex_v flex_v_fill ">
                    <h3>Task Title</h3>
                    <p class="task_description">Task Description</p>
                </div>
                <button class="button_img_light flex_v flex_center" type="button" onclick="toggleMenu()">
                    <img src="/static/images/icon_button.png" alt="Settings">
                </button>
            </div>
        </section>
        <section class="card_task card box_shadow text_light">
            <div class="content flex_h flex_fill_h flex_center flex_gap_std margin_sml">
                <div class="task_icon flex_v flex_center">🚀</div>
                <div class="flex_v flex_v_fill ">
                    <h3>Task Title</h3>
                    <p class="task_description">Task Description</p>
                </div>
                <button class="button_img_light flex_v flex_center" type="button" onclick="toggleMenu()">
                    <img src="/static/images/icon_button.png" alt="Settings">
                </button>
            </div>
        </section>
    </section>
{% endblock %}
