/* CSS Directory:
	1. Global Variables
	2. Site-Wide Styling
	3. Helper Classes
    4. Section Styling
*/

/* [[[ 1. Global Variables ]]] */
/* Declaring global variables to enable quick changes */
:root {
    --font_family_stack: Poppins, Arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
    --font_size_rem: 16px;
    --color_dark: black;
    --color_light: white;
    --color_light_off: #ddd;
    --color_primary: #3a8d84;
    --color_button: var(--color_primary);
    --color_button_hover: #2F746C;
    --color_button_active: #29665F;
    --color_button_menu: var(--color_light);
    --color_button_menu_hover: #F5F5F5;
    --color_button_menu_active: var(--color_light_off);
    --color_secondary: #65dba9;
    --color_background: var(--color_primary);
    --color_page_background: #8abd8f;
    --color_page_background_sea: #82b3d8;
    --color_form_background:  rgba(255, 255, 255, 0.95);
    --box_shadow: rgba(0, 0, 0, 0.16) 0px 0px 5px -6px, rgba(0, 0, 0, 0.12) 0px 8px 10px -2px;
    --text_light_shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    --text_dark_shadow: 1px 1px 5px rgba(0, 0, 0, 0.12);
    --letter_spacing: 0.3px;
    --letter_spacing_lg: 0.7px
}


/* [[[ 2. Site-Wide Styling ]]] */
html {
    font-family: var(--font_family_stack);
    font-size: var(--font_size_rem);
    /* background-color: var(--color_page_background); */
    background-color: var(--color_page_background_sea);
    letter-spacing: var(--letter_spacing);
}

body {
    margin: 0;
}


section.content_wrapper {
    margin: 0;
    min-height: 100vh;
    max-width: 512px;
    /* This padding is here to prevent margin collapse */
    padding-top: 0.05px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: clip;
}

h1, h2, h3, h4, h5 {
    margin-block: 0;
}

p {
    margin-block: 0;
}

.text_light {
    color: var(--color_light);
    text-shadow: var(--text_light_shadow);
}

.text_dark {
    color: var(--color_dark);
    text-shadow: var(--text_dark_shadow);
}



/* [[[ 2.A) Buttons ]]] */
/* Element: Button */
.button {
    font-family: var(--font_family_stack);
    background-color: var(--color_button);
    border: none;
    border-radius: 2em;
    height: fit-content;
    padding: 0.5rem 1rem;
    letter-spacing: var(--letter_spacing_lg);
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 330ms ease;
}

.button:hover {
    background-color: var(--color_button_hover);
}

.button:active {
    background-color: var(--color_button_active);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), var(--box_shadow);
}

/* Element: Menu Button */
.button_menu {
    background-color: var(--color_button_menu);
    font-size: 0.9rem;
    padding: 1rem;
    color: var(--color_dark);
    border-radius: 0;
    text-align: left;
}

.button_menu:hover {
    background-color: var(--color_button_menu_hover);
}

.button_menu:active {
    background-color: var(--color_button_menu_active);
}

/* Element: Range Slider */
input[type="range"] {
    cursor: pointer;
}

/* Element: Button With Image */
.button_img {
    background-color: var(--color_primary);
    border: none;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 2em;
}

.button_img img {
    width: inherit;
    height: inherit;
}

/* Element: Button With Image (Light) */
.button_img_light {
    background-color: var(--color_light);
    border: none;
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    border-radius: 1em;
}

.button_img_light img {
    width: inherit;
    height: inherit;
}

/* Element: Submit Button */
.button[type="submit"] {
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* [[[ 2.B) Forms ]]] */
form {
    gap: 8px;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* [[[ 2.C) Images ]]] */
img.img_leaf {
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
}


/* [[[ 3. Helper Classes ]]] */
.font_small {
    font-size: 0.8rem;
}

.margin_sml {
    margin: 0.6rem;
}

.margin_std {
    margin: 1.2rem;
}

.margin_lg {
    margin: 1.5rem;
}

.margin_sml_right {
    margin-right: 0.6rem;
}

.margin_std_right {
    margin-right: 1.2rem;
}

.margin_lg_right {
    margin-right: 1.5rem;
}

.margin_sml_left {
    margin-left: 0.6rem;
}

.margin_std_left {
    margin-left: 1.2rem;
}

.margin_lg_left {
    margin-left: 1.5rem;
}

.margin_sml_top {
    margin-top: 0.6rem;
}

.margin_std_top {
    margin-top: 1.2rem;
}

.margin_lg_top {
    margin-top: 1.5rem;
}

.margin_sml_bot {
    margin-bottom: 0.6rem;
}

.margin_std_bot {
    margin-bottom: 1.2rem;
}

.margin_lg_bot {
    margin-bottom: 1.5rem;
}

.margin_none_h {
    margin-left: 0;
    margin-right: 0;
}

.margin_none_v {
    margin-top: 0;
    margin-bottom: 0;
}

.flex_h {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flex_v {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex_center {
    justify-content: center;
    align-items: center;
}

.flex_start {
    align-items: start;
}

.flex_end {
    justify-content: end;
}

.flex_gap_std {
    gap: 0.5rem;
}

/* Fills a vertical flex container */
.flex_v_fill {
    width: 100%;
}

/* Fills a horizontal flex container */
.flex_h_fill {
    height: 100%;
}

section.pet div.image_wrapper {
    width: 160px;
    height: 160px;
    /* overflow: hidden; */
}

.background {
    image-rendering: pixelated;
    background: url('/static/images/bg_x6.png');
    background-position: 50% 2%;
}

.card {
    background-color: var(--color_background);
    border-radius: 1em;
    margin-block: 1em;
    /* This padding is here to prevent margin collapse */
    padding-top: 0.05px;
    padding-bottom: 0.05px;
}

.box_shadow {
    box-shadow: var(--box_shadow);
}


/* [[[ 1. Section Styling ]]] */
/* Section: Spacer */
section.spacer {
    height: 1rem;
}

section.spacer_large {
    height: 128px;
}

section.spacer_big {
    height: 5rem;
}

/* Section: Pet */
section.pet img {
    width: 384px;
    image-rendering: pixelated;
    margin-left: calc(-92px - 1.2rem);
    margin-top: -99px;
}

section.pet h3 {
    font-weight: normal;
}

.pet_info_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

/* Section: Status Bar */
section.status_bar .xp_bar {
    background-color: var(--color_light);
    border: 3px solid var(--color_light);
    /* height: 2px; */
    border-radius: 1rem;
}

section.status_bar .xp_bar_progress {
    /* height: 0px; */
    width: 50px;
    border: 3px solid var(--color_primary);
    border-radius: 1rem;
}

section.status_bar .xp_bar_label {
    font-size: 0.8rem;
    margin-top: 5px;
    letter-spacing: var(--letter_spacing_lg);
}

section.status_bar .pet_status {
    font-weight: 300;
}

/* Section: Currency Indicator */
section.currency_indicator {
    background-color: var(--color_secondary);
    border-radius: 2em;
}

section.currency_indicator>div {
    margin-left: 20px;
    margin-right: 15px;
}

/* Section: Task Icon */
section.task_icon {
    width: 40px;
    height: 40px;
    border-radius: 16px;
    background-color: var(--color_light_off);
    font-size: 30px;
    line-height: 1.2em;
    text-align: center;
}

section.task_icon p {
    font-size: 30px;
}

/* Section: Current Tasks */
section.current_tasks>.heading p {
    font-size: 0.8rem;
}

section.current_tasks>.heading button {
    align-self: end;
    margin-bottom: 2px;
}

.current_tasks .task_description {
    font-size: 0.8rem;
}


/* Section: Signup */
section.signup {
    background: var(--color_form_background);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Section: Settings Menu */
/* Ensure the parent container has relative positioning so we can position elements inside it */
.button_settings {
    position: relative; /* This allows absolute positioning of the dropdown inside it */
}

/* General Settings Button and Menu Styling */
section.settings_menu {
    display: none; /* Initially hidden */
    position: absolute;
    top: 55px;
    left: 0;
    background-color: var(--color_form_background);
    border-radius: 0.8em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 1rem;
    width: 200px; /* Set a reasonable width for the dropdown */
}

section.settings_menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--color_dark);
    border-radius: 5px;
    margin: 5px 0;
}

section.settings_menu a:hover {
    background-color: var(--color_primary);
    color: var(--color_light);
}

/* Section: Pet Selection */
section.pet_selection {
    gap: 16px;
}

section.pet_selection img {
    width: 192px;
    image-rendering: pixelated;
    margin-left: calc((192px - 96px) / -2);
    margin-top: calc(96px / -2);
}

section.pet_selection div.image_wrapper {
    width: 96px;
    height: 96px;
    overflow: hidden;
    border: 3px solid transparent;
    transition: border 0.3s;
    border-radius: 5px;
}

section.pet_selection label.pet_option input {
    display: none;
}

section.pet_selection label.pet_option input:checked + div {
    border: 3px solid var(--color_primary);
}


/* Section: Settings Menu */
.menu_container {
    border-radius: 5px;
}


.menu_container button {
    border-top: 1px solid var(--color_light_off);
}

.menu_container button:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user_info {
    color: var(--color_light);
    gap: 16px;
}

img.profile_pic {
    background-color: var(--color_light);
    width: 60px;
    border-radius: 50%;
    border: 5px solid var(--color_light);
}

.task-title {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

.task-points-small {
    display: block;
    font-size: 12px;
    color: white;
    margin-top: 2px;
}

.task-description {
    margin-bottom: 8px;
    font-size: 14px;
}

.task-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.task-date {
    margin-right: 10px;
    font-size: 12px;
    color: white;
}

.delete-icon, .complete-icon {
    cursor: pointer;
    margin-left: 10px;
}

.form-group-horizontal {
    display: flex;
    align-items: center; /* vertically center input and label */
    margin-bottom: 0.8rem;
}
  
.form-group-horizontal label {
    width: 140px; /* or whatever fixed width you prefer for the label */
    margin-right: 0.5rem;
}
  
  .form-group-horizontal input {
    flex: 1; /* take up remaining space */
    padding: 0.4rem;
    box-sizing: border-box;
}

.sold-out-banner, .insufficient-banner {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 8px;
}
  