/* CSS Directory:
	1. Global Variables
	2. Site-Wide Styling
	3. Helper Classes
    4. Section Styling
*/

/* [[[ 1. Global Variables ]]] */
/* Declaring global variables to enable quick changes */
:root {
    --font_family_stack: Poppins, Arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
    --font_size_rem: 16px;
    --color_dark: black;
    --color_light: white;
    --color_light_off: #ddd;
    --color_primary: #3a8d84;
    --color_secondary: #65dba9;
    --color_background: var(--color_primary);
    --color_page_background: #8abd8f;
    --color_form_background:  rgba(255, 255, 255, 0.95);
    --box_shadow: rgba(0, 0, 0, 0.16) 0px 0px 5px -6px, rgba(0, 0, 0, 0.12) 0px 8px 10px -2px;
    --text_light_shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    --text_dark_shadow: 1px 1px 5px rgba(0, 0, 0, 0.12);
    --letter_spacing: 0.3px;
    --letter_spacing_lg: 0.7px
}


/* [[[ 2. Site-Wide Styling ]]] */
html {
    font-family: var(--font_family_stack);
    font-size: var(--font_size_rem);
    background-color: var(--color_page_background);
    letter-spacing: var(--letter_spacing);
}

body {
    margin: 0;
    min-height: 100vh;
    max-width: 500px;
    /* This padding is here to prevent margin collapse */
    padding-top: 0.05px;
}

h1, h2, h3, h4, h5 {
    margin-block: 0;
}

p {
    margin-block: 0;
}

.text_light {
    color: var(--color_light);
    text-shadow: var(--text_light_shadow);
}

.text_dark {
    color: var(--color_dark);
    text-shadow: var(--text_dark_shadow);
}

/* Media query in case of desktop view */
@media only screen and (min-width: 1000px) {
    body {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* [[[ 2.A) Buttons ]]] */
/* Element: Button */
button.button {
    background-color: var(--color_primary);
    border: none;
    border-radius: 2em;
    height: fit-content;
    padding: 0.5rem 1rem;
    letter-spacing: var(--letter_spacing_lg);
}

/* Element: Button With Image */
button.button_img {
    background-color: var(--color_primary);
    border: none;
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 2em;
}

button.button_img img {
    width: inherit;
    height: inherit;
}

/* Element: Button With Image (Light) */
button.button_img_light {
    background-color: var(--color_light);
    border: none;
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    border-radius: 1em;
}

button.button_img_light img {
    width: inherit;
    height: inherit;
}

button.button[type="submit"] {
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* [[[ 2.B) Forms ]]] */
form {
    gap: 8px;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* [[[ 2.C) Images ]]] */
img.img_leaf {
    width: 40px;
    height: 40px;
    image-rendering: pixelated;
}


/* [[[ 3. Helper Classes ]]] */
.font_small {
    font-size: small;
}

.margin_sml {
    margin: 0.6rem;
}

.margin_std {
    margin: 1.2rem;
}

.margin_lg {
    margin: 1.5rem;
}

.margin_sml_right {
    margin-right: 0.6rem;
}

.margin_std_right {
    margin-right: 1.2rem;
}

.margin_lg_right {
    margin-right: 1.5rem;
}

.margin_sml_left {
    margin-left: 0.6rem;
}

.margin_std_left {
    margin-left: 1.2rem;
}

.margin_lg_left {
    margin-left: 1.5rem;
}

.margin_sml_top {
    margin-top: 0.6rem;
}

.margin_std_top {
    margin-top: 1.2rem;
}

.margin_lg_top {
    margin-top: 1.5rem;
}

.margin_sml_bot {
    margin-bottom: 0.6rem;
}

.margin_std_bot {
    margin-bottom: 1.2rem;
}

.margin_lg_bot {
    margin-bottom: 1.5rem;
}

.margin_none_h {
    margin-left: 0;
    margin-right: 0;
}

.margin_none_v {
    margin-top: 0;
    margin-bottom: 0;
}

.flex_h {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flex_v {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex_center {
    justify-content: center;
    align-items: center;
}

.flex_start {
    align-items: start;
}

.flex_end {
    justify-content: end;
}

.flex_gap_std {
    gap: 0.5rem;
}

/* Fills a vertical flex container */
.flex_v_fill {
    width: 100%;
}

/* Fills a horizontal flex container */
.flex_h_fill {
    height: 100%;
}

.image_wrapper {
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.background {
    image-rendering: pixelated;
    background: url('/static/images/background.png') no-repeat center center;
    background-size: 100vh;
    background-position: 58% 100%;
}

.card {
    background-color: var(--color_background);
    border-radius: 1em;
    margin-block: 1em;
    /* This padding is here to prevent margin collapse */
    padding-top: 0.05px;
    padding-bottom: 0.05px;
}

.box_shadow {
    box-shadow: var(--box_shadow);
}


/* [[[ 1. Section Styling ]]] */
/* Section: Spacer */
section.spacer {
    height: 1rem;
}

section.spacer_big {
    height: 5rem;
}

/* Section: Pet */
section.pet img {
    width: 400px;
    height: 400px;
    image-rendering: pixelated;
    margin-left: calc(-100px - 1.2rem);
    margin-top: -100px;
}

section.pet h3 {
    font-weight: normal;
}

/* Section: Status Bar */
section.status_bar .xp_bar {
    background-color: var(--color_light);
    border: 3px solid var(--color_light);
    /* height: 2px; */
    border-radius: 1rem;
}

section.status_bar .xp_bar_progress {
    /* height: 0px; */
    width: 50px;
    border: 3px solid var(--color_primary);
    border-radius: 1rem;
}

section.status_bar .xp_bar_label {
    font-size: small;
    margin-top: 5px;
    letter-spacing: var(--letter_spacing_lg);
}

section.status_bar .pet_status {
    font-weight: 300;
}

/* Section: Currency Indicator */
section.currency_indicator {
    background-color: var(--color_secondary);
    border-radius: 2em;
}

section.currency_indicator>div {
    margin-left: 20px;
    margin-right: 15px;
}

/* Section: Task Icon */
section.task_icon {
    width: 40px;
    height: 40px;
    border-radius: 16px;
    background-color: var(--color_light_off);
    font-size: 30px;
    line-height: 1.2em;
    text-align: center;
}

section.task_icon p {
    font-size: 30px;
}

/* Section: Current Tasks */
section.current_tasks>.heading p {
    font-size: small;
}

section.current_tasks>.heading button {
    align-self: end;
    margin-bottom: 2px;
}

.current_tasks .task_description {
    font-size: small;
}




/* Section: Signup */
section.signup {
    background: var(--color_form_background);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}


/* Section: Signup */
section.signup {
    background: var(--color_form_background);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}




/* body {
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
} */

/* .settings-container {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
} */

/* .settings-menu {
    display: none;
    position: absolute;
    top: 40px;
    left: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
} */

/* .settings-menu a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: black;
} */

/* .settings-menu a:hover {
    background: lightgray;
} */

/* .pet>.container {
    text-align: center;
    margin-top: 60px;
    color: white;
    font-size: 20px;
} */

/* 
.task-container {
    width: 90%;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.task-container h2 {
    text-align: center;
}

.task {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task:hover {
    background: lightgray;
}

.task .delete-icon {
    color: red;
    cursor: pointer;
}

.xp-bar-container {
    width: 80%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}

.xp-bar {
    height: 100%;
    background: linear-gradient(to right, #4caf50, #8bc34a);
    transition: width 0.5s ease-in-out;
    border-radius: 5px;
} */